.header__logo{
    margin-bottom: 41px;

}

@media screen and (max-width: 900px) {
 .header__logo{
     margin: 28px auto 32px 27px;
 }   
}

@media screen and (max-width: 450px) {
    .header__logo{
        width: 104px;
        height: 24px;
    }   
   }