@import url(../grid-element/__image/grid-element__image.css);
@import url(../grid-element/__title/grid-element__title.css);
@import url(../grid-element/__description/grid-element__description.css);
@import url(../grid-element/__like-button/grid-element__like-button.css);
@import url(../grid-element/__like-button/_active/grid-element__like-button_active.css);
@import url(../grid-element/__trash-button/grid-element__trash-button.css);
@import url(../grid-element/__like-count/grid-element__like-count.css);
@import url(../grid-element/__like-container/grid-element__like-container.css);
@import url(../grid-element/__trash-button/_hidden/grid-element__trash-button_hidden.css);


.grid-element{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}  