.profile__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 318px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
    .profile__subtitle{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}