.popup__submit-button_type_auth{
    background-color: #ffffff;
    border-radius: 2px;
    width: 358px;
    color: black;
    margin-top: 216px;
}
.popup__submit-button_type_auth:hover{
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

}