.grid-element__like-button{
    width: 21px;
    min-width: 21px;
    height: 19px;
    
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.grid-element__like-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: .6;

}