.grid-elements__list {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-gap: 18px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding-inline-start: 0;
}

@media screen and (max-width: 950px) {
  .grid-elements__list {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 650px) {
  .grid-elements__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .grid-elements__list {
    grid-template-columns: 282px;
    max-width: 282px;
    margin: 0 auto 48px;
    grid-gap: 20px;
    padding: 0;
  }
}
